*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


body{
  margin: 1rem;
  padding: 1rem;
  margin: auto;
}

h1 {
  font-weight: 600;
  text-align: center;
}

.flex-area {
  display: flex;
  margin: 1rem;
  padding: 1rem;
}

.image-hero {
  padding: 1rem;
  margin: 1rem;
}

.image-hero img {

  text-align: center;
  margin: auto;
  
}
.rules-section {
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  padding: 1rem;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2), -3px -3px 10px rgba(0,0,0,.2);
}
.rules-section h1 {
  font-weight: 400;
  font-size: 1.5rem;
  color: #ff8e3c;
}

.rules-section ul {
  list-style-type: disc;
  padding: 0.75rem;
}
.rules-section ul li {
  font-size: 1rem;
  margin-left: 2rem;
}

@media screen and (max-width: 500px) {
  .flex-area {
    display: block;
  }

  .image-hero {
    padding-top: 2rem;
    max-width: 400px;
    margin: auto;
  }

}

h1:hover{
  color: green;
}

.rules-section{
  box-shadow: 5px 5px 30px rgba(217, 217, 217, 0.4);
  transition: all .4s ease-in-out;
}

.rules-section:hover {
  
  box-shadow: 3px 3px 10px rgba(0,0,0,.2), -3px -3px 10px rgba(0,0,0,.2);
  border-radius: 50px;
  transition: scale(1.1);
}

a{
  font-size: 2rem;
  color: darkblue;
  align-items: center;
}
a:hover{
  color:purple;
}
